fastapi
fastapi==0.115.6
uvicorn[standard]==0.34.0
groq
langchain-groq
langchain-huggingface
sentence-transformers
chromadb==0.5.23
python-multipart==0.0.20
python-dotenv==1.2.1
pydantic==2.10.4
pydantic-settings==2.7.0
pypdf==5.1.0
unstructured==0.16.14
langchain
langchain-text-splitters
langchain-core==0.3.28
sentry-sdk[fastapi]==2.18.0
openai==1.54.5
